@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.chat-room {
    width: 450px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 500px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#chatRoom {
    display: none; /* Initially hidden */
    opacity: 0; /* Initially invisible */
    transform: translateX(100%); /* Initially off-screen to the right */
    transition: all 0.5s ease; /* Smooth transition for all properties */
}

.chat-header {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.chat-header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.header-top {
    display: flex;
    flex-direction: column;
}
.chat-header .title {
    font-size: 18px;
    font-family: Lato;
    text-wrap:  nowrap;
}
.chat-header .subtitle {
    font-size: 13px;
    color: #555;
    margin-top: 4px;
}
.chat-container {
    background-color: #e0e0e0;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.chat-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.message-info {
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
    margin-left: 40px;
}
.message-content {
    display: flex;
    align-items: center;
}
.message .userProfile {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.message .text {
    background-color: #a37979;
    color: white;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 250px;
    overflow: hidden
}
.message.sender .text {
    background-color: #9a726d;
}
.message.sender .message-info {
    text-align: right;
    margin-right: 40px;
}
.message.sender .message-content {
    justify-content: flex-end;
}
.message.sender img {
    order: 1;
    margin-left: 10px;
    margin-right: 0;
}
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    align-items: center;
}
.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    border-right: none;
    outline: none;
}
.chat-input .emoji-button {
    background-color: #a37979;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: -5px; /* Slightly overlap the input field */
}
.chat-input .actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.chat-input .actions button {
    background-color: #a37979;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.chat-input .actions button:first-child {
    margin-left: 0;
}
.emoji-popup {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 300px;
    height: 400px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.emoji-popup .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.emoji-popup .search-input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.emoji-popup .emoji-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.emoji-popup .emoji {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.imageSend{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}
.openChat{
    bottom: 20px;
    right: 20px;
    position: fixed;
    background-color: #90CAF9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
}
.activeTab{
    background-color: #CFD8DC;
    border-radius: 10px;
    width: 100px;
    padding: 10px 20px;
}
.popup-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
}
.popup-menu button {
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    width: 100px;
    text-align: left;
}
.popup-menu button:hover {
    background-color: #f0f0f0;
}
.joinBtn{
    width: 70px;
    height: 35px;
    border: 1px solid #bbc0b2;
    border-radius: 13px;
    background-color: #c1f2c8;
}
.inviteBtn{
    width: 70px;
    height: 35px;
    border: 1px solid #bbc0b2;
    border-radius: 13px;
    background-color: #bbb9ea;
    font-size: 14px;
}
.groupInfomation{
    margin: 5px 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid #f7ebd4;
    font-size: 14px;
}
.gpUserImage{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.postCount{
    margin-left: 20px;
    margin-bottom: 4px;
}
.userSearchGP{
    border-radius: 10px;
    border: none;
    background-color: #ddeded;
    margin-left: 10px;
    padding: 5px 10px;
    outline: none;
}
.member{
    font-weight: 600;
    font-size: 18px;
}
.community-info{
    background-color: #f1ffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dbcdcd;
    margin-bottom: 10px;
}
.hiddenChat {
    display: none !important;
}

.visible {
    display: block !important;
}
.modalsya {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
/*.modal-contentsya {*/
/*    background-color: #fefefe;*/
/*    margin: 15% auto;*/
/*    padding: 20px;*/
/*    border: 1px solid #888;*/
/*    width: 500px;*/
/*    height: 400px;*/
/*    overflow-y: auto;*/
/*}*/
.modal-contentsya{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 500px;
    height: auto;
    border-radius: 15px;
    background-color: bisque;
}

.closesya {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.closesya:hover,
.closesya:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.notificationsya {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.notificationsya:last-child {
    border-bottom: none;
}

.notification-headersya {
    font-weight: bold;
}

.notification-bodysya {
    margin-top: 5px;
}

.notification-actionssya {
    margin-top: 10px;
}

.btnsya {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-acceptsya {
    background-color: #4eb653;
    color: white;
    border: none;
}
.btn-declinesya {
    background-color: #f65d51;
    color: white;
    border: none;
}

@keyframes thunderEffect {
    0%, 100% {
        transform: scale(1);
        color: #006fff;
    }
    50% {
        transform: scale(1.2);
        color: white;
    }
}


.thunder-icon {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

.thunder-icon:hover {
    animation: thunderEffect 0.5s infinite;
}

