.skeleton-container {
    position: relative;
    width: 100%;
}

.skeleton {
    margin: 20px;
    border-radius: 4px;
    background: #ddd;
    overflow: hidden;
    position: relative;
}

.skeleton::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ddd 0%, #ccc 50%, #ddd 100%);
    animation: loading 1.5s infinite;
}

.skeleton-text {
    height: 20px;
    margin: 10px 0;
    background: #eaeaea;
}

.skeleton-img {
    width: 100%;
    height: 200px;
    background: #eaeaea;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.tweets.fade-in {
    opacity: 1;
}
.focused {
    border-radius: 20px;
    background-color: #E0E0E0;
}