*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cards-img-top{
    border-radius: 50px;
    padding: 20px;
}
.cards{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color: #EEEEEE
}
.cards-body{
    padding: 25px;
    margin-top: -15px;
}
.btnCard{
    height: 38px;
    border-radius: 50px;
    width: 120px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-size: 14px;
}
.btnCard:hover{
    background-color: black;
    border: none;
}

h3,h5{
    color: rgb(0, 91, 228);
}
.cards-body p {
    margin-bottom: 5px;
}
.cardImg{
    width: 300px;
    height: 220px;
}