body,
html {
    height: 100%;
    margin: 0;
    background: white;
    background: -webkit-linear-gradient(to right, white, white, white);
    background: linear-gradient(to right, white, white, white);
}

.chat {
    /*margin-top: auto;*/
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.19) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    /*white-space: nowrap;*/
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.imageIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 8px;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

i.emoji-mic {
    margin-right: 10px; /* Adjust margin as needed */
    color: #888; /* Icon color */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.14);
}

.user_img {
    height: 60px;
    width: 60px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 13px;
    right: 13px;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    /*font-size: 20px;*/
    font-family: "Apple Color Emoji";
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}
.dropdown-container {
    display: none;
    background-color: rgb(145, 145, 145);
    padding-left: 8px;
}
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
 .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #EEEEEE;
    padding: 5px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #BBDEFB;
    padding: 5px;
    position: relative;
}

.msg_time {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: #9E9E9E;
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: #9E9E9E;
    font-size: 10px;
}

.msg_head {
    position: relative;
}
.message-input {
    margin-top: auto;
    display: flex;
}
/*.user-item span.nbr-msg {*/
/*    margin-left: 10px;*/
/*    background-color: #f8fa6f;*/
/*    color: white;*/
/*    padding: 5px;*/
/*    width: 10px;*/
/*    border-radius: 50%;*/
/*    height: 10px;*/
/*}*/

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #14131330;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px;
    border: none;
    background-color: #db81cb;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.message {
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Add scrollbar to chat messages area */
#chat-messages {
    height: 400px; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scrollbar */
}


.message p {
    padding: 0 12px;
    border-radius: 15px;
    word-wrap: break-word;
}
.action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    /*padding: 10px 15px;*/
    padding: 0;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background:  white;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: white;
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}