/*policy create Css*/
#hpy-header {
    background-color: #91e9d4;
    color: white;
    border-bottom: 1px solid #dee2e6;
}

#guidelineDescription{
    height: auto;
}
.modal-footer {
    border-top: 1px solid #dee2e6;
}
.modal-content {
    border-radius: 10px;
}

.modal-body {
    padding: 2rem;
}
#guidelineDescription:focus {
    box-shadow: none;
    border-color: #5bcab0;
    box-shadow: 0 0 10px rgb(81, 226, 240);
}
#savebutton {
    background-color: #5bcab0;
    border-color: #5bcab0;
}
#savebutton:hover {
    background-color: #20e0b3;
    border-color: #7ecae2;
}
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/*for show policy*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.main {
    margin-left: 200px; /* Width of sidebar */
    padding-top: 10px; /* Height of header */
}

.policy-container {
    background: white !important ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}
/*after login policy*/
.form-switch .form-check-input {
    width: 2em;
    margin-left: -1em !important;
}

.form-check-label {
    margin-bottom: 0;
    margin-left: 1.5em;
}

.modal-footer {
    display: flex;
    justify-content: flex-end; /* Ensures the button is aligned to the right */
}/*after login policy*/

.view-mode, .edit-mode {
    display: flex;
    flex-direction: column;
}

#editpolicy, #savepolicy, #cancelbtn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #4bcef6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/*#editpolicy, #savepolicy, #cancelbtn:hover {
    background: #0ebaee;
}*/

textarea {
    width: auto;
    height: 200px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.image-container {
    text-align: center;
    margin-bottom: 15px; /* Adjust margin as needed */
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

ul#guideline-list {
    list-style-type: disc;
}