<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIR ACE Technology</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link th:href="@{/static/assets/img/download.png}" rel="icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/static/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/post.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/all.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/skill.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/skeleton.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- File Upload Model Box -->
    <link th:href="@{/static/assets/css/fileUploadModelBox.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/groupchat.css}">
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>

    <style>
        .emoji-selector.active {
            bottom: 6%;
            opacity: 1;
            pointer-events: all;
        }
        .emoji-selector {
            background-color: white;
            border-radius: 1rem;
            cursor: default;
            display: block;
            padding: 0;
            border: 1px solid #eee;
            position: absolute;
            bottom: 0%;
            width: 325px;
            height: 350px;
            z-index: 5;
            opacity: 0;
            pointer-events: none;
            overflow: auto;
            transition: bottom 0.3s ease, opacity 0.3s ease;
        }
        .emoji-list {
            background-color: white;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 1rem 1rem;
            border-radius: 0;
        }
        .emoji-photo{
            font-size:1.5rem;
        }
    </style>
</head>
<body>

<div th:include="header"></div>

<!-- ======= Sidebar ======= -->
<div th:include="sidebar"></div>

<main id="main" class="main">

    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">

            <div class="col-md-8 col-xl-6 chat">
                <div class="card" style="width: 500px;margin-left: -80px; height: 500px">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">

                            <div class="users-list-container">
                                <h2 style="color: #000000c2">Chats</h2>
                            </div>
                            <div class="user_info">

                                <button class="dropdown-btn" >
                                    Select Group: <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="action_menu" style="right: auto;">
                                    <input type="hidden" th:value="${user.id}" id="id">
                                    <input type="hidden" th:value="${user.name}" id="name">
                                    <ul id="connectedUsers"> </ul>
                                    <div>
                                        <p id="connected-user-fullname"></p>
                                    </div>
                                </div>
                            </div>


                            <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                            </div>
                        </div>




                        <span class="dropdown-btn" style="margin-left: 450px; margin-top: -42px">
                                 <i class="fas fa-ellipsis-v"></i>
                            </span>
                        <div class="action_menu">
                            <ul>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#memberAddModal" id="get-all-member-list"><i class="fa-solid fa-user-plus"></i>Add Members</a></li>
                                <li><a href="#" id="kick-room-member" data-bs-toggle="modal" data-bs-target="#memberKickModal"><i class="fa-solid fa-user-minus"></i>Kick Members</a></li>
                            </ul>
                        </div>
                        <!--                        <a href="#" data-bs-toggle="modal" data-bs-target="#memberAddModal" id="get-all-member-list">-->

                    </div>

                    <div class="card-body msg_card_body" id="cardBody">
                        <section>
                            <img src="https://www.redditstatic.com/chat-web/images/welcome-6AUNLRD4.png" alt="Welcome to chat!" style="width: 200px; margin: 100px;margin-top: 1px">
                            <h4 style="margin: 100px; margin-top: -90px">Welcome to chat!</h4>
                            <p style="text-align: center; margin-top: -90px">Start a direct or group chat with other members.</p>

                        </section>
                    </div>

                    <div class="card-footer">

                        <form id="messageForm" name="messageForm" class="hidden">
                            <div class="message-input">

                            <textarea autocomplete="off" type="text" id="message" placeholder="Type your message..." style="
    width: -webkit-fill-available; background-color: rgba(0, 0, 0, 0.33)";></textarea>
                                <ul class="utility-group">
                                    <li class="emoji-selector" id="emojiSelector" >
                                        <div class="input-container">
                                            <input id="emojiSearch" type="text" name=""  placeholder="Search...">
                                        </div>
                                        <ul id="emojiList" class="emoji-list">
                                        </ul>
                                    </li>
                                    <li id="emojiSelectorIcon"><img src="http://res.cloudinary.com/dwdplsd2c/image/upload/v1714860227/a44f1bbb-835a-45f3-a11b-503149741fdb.webp" alt="" style="width:50px"></li>
                                </ul>
                                <span id="arrow" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </div>
</main>

<div class="modal fade" id="memberAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="get-all-user">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Member's</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="chat-room-id" name="id">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="memberSearchForAddChatRoom" placeholder="Search users..">
                        </div>
                    </div>
                    <div id="memberList">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="member-add-icon">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="memberKickModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="kick-room-user">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticLabelForKickMember">Member's</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="kick-room-id" name="id">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="memberSearchForKick" placeholder="Search users..">
                        </div>
                    </div>
                    <div id="memberListForKick">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="member-kick-icon">Kick</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:include="footer"></div>

<script>
    const dropdowns = document.querySelectorAll(".dropdown-btn");
    dropdowns.forEach(function(dropdown) {
        dropdown.addEventListener("click", function() {
            this.classList.toggle("active");
            const dropdownContent = this.nextElementSibling;

            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    });

    document.addEventListener("click", function(event) {
        const dropdowns = document.querySelectorAll(".dropdown-btn");
        let isOutsideDropdown = true;
        dropdowns.forEach(function(dropdown) {
            if (dropdown.contains(event.target)) {
                isOutsideDropdown = false;
            }
        });

        if (isOutsideDropdown) {
            dropdowns.forEach(function(dropdown) {
                dropdown.classList.remove("active");
                dropdown.nextElementSibling.style.display = "none";
            });
        }
    });


</script>

<script>
    $(document).ready(function(){
        $('.action_menu_btn').click(function(){
            $('.action_menu').toggle();
        });
    });
</script>
</body>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!--<script th:src="@{/static/assets/js/postDisplay.js}"></script>-->
<script th:src="@{/static/assets/js/videoplayer.js}"></script>
<script type="module" src="../static/assets/js/postDisplay.js" defer></script>
<script th:src="@{/static/assets/js/successfulmessage.js}"></script>
<!-- Vendor JS Files -->
<script th:src="@{/static/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/static/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/static/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/static/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{static/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/static/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/static/assets/js/changeDefaultPassword.js}"></script>
<script th:src="@{/static/assets/js/skill.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/static/assets/js/chat.js}" crossorigin="anonymous"></script>


</html>