<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DIR ACE Technology</title>
    <link th:href="@{/static/assets/css/badge.css}" rel="stylesheet">
</head>
<body>
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="container-scroller">
        <a href="index.html" class="logo d-flex align-items-center">
            <!--        <img src="/assets/img/logo.png" alt="">-->
            <a class="navbar-brand brand-logo mr-5" th:href="@{/}"><img
                    th:src="@{/static/assets/img/download.png}" alt="logo" style="max-width: 100%;height: 50px; margin-bottom: 5px;"/></a>
        </a>
        <i class="bi bi-list toggle-sidebar-btn mr-5"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">

        <ul class="d-flex align-items-center">
            <!--th:if="${#authorization.expression('hasRole(''ADMIN'')')}"-->
            <li th:if="${session.role == 'ADMIN'}" class="nav-item dropdown">
                <form id="uploadForm" method="post" enctype="multipart/form-data">
                    <label for="excelFile" class="btn-download">
                        <i class='bx bxs-cloud-download nav-icon'></i>
                        <!--<span id="fileLabel" class="text">Input Excel File</span>-->
                    </label>
                    <input type="file" id="excelFile" name="file" accept=".xls,.xlsx" multiple class="hidden">
                    <button type="submit" id="submitButton" class="btn btn-primary hidden">Submit</button>
                </form>
            </li>

            <!--            <li class="nav-item d-block d-lg-none">-->
            <!--                <a class="nav-link nav-icon search-bar-toggle " href="#">-->
            <!--                    <i class="bi bi-search"></i>-->
            <!--                </a>-->
            <!--            </li>&lt;!&ndash; End Search Icon&ndash;&gt;-->

            <li class="nav-item dropdown">

                <ul class="d-flex align-items-center">

                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li><!-- End Search Icon-->

                    <li class="nav-item dropdown">

                        <div id="notify" class="nav-link nav-icon" data-bs-toggle="dropdown">
                            <i class="bi bi-bell"></i>
                            <span class="badge bg-primary badge-number" id="count">0</span>
                        </div><!-- End Notification Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" id="notiContainer" style="width: 300px;">

                        </ul><!-- End Notification Dropdown Items -->

                    </li><!-- End Notification Nav -->

                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img th:src="@{/static/assets/img/user1.jpg}" alt="Profile" class="rounded-circle">
                            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                        </a><!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>Kevin Anderson</h6>
                                <span>Web Designer</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/profile}">
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/userProfile">
                                    <i class="bi bi-gear"></i>
                                    <span>Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                    <i class="bi bi-question-circle"></i>
                                    <span>Need Help?</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>

                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->

                </ul>
            </li>
        </ul>
    </nav>

</header>
</body>
<script th:src="@{/static/assets/js/excelUpload.js}"></script>
<script th:src="@{/static/assets/js/fetchNoti.js}"></script>
<style>
    .hidden{
        display: none;
    }
    .visually-hidden {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px); /* Hide the button off-screen */
        overflow: hidden;
        white-space: nowrap; /* Keep content from wrapping */
        width: 1px;
        height: 1px;
        border: 0;
        padding: 0;
    }
    .dropdown-menu {
        max-height: 300px; /* Set the maximum height according to your preference */
        overflow-y: auto; /* Add vertical scrollbar when content exceeds max height */
    }
    .dis{
        display: flex;
        justify-content: space-around;
    }
    .img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>

</html>