<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIR ACE Technology</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link th:href="@{/static/assets/img/download.png}" rel="icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/static/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/post.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/all.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/skill.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/skeleton.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- File Upload Model Box -->
    <link th:href="@{/static/assets/css/fileUploadModelBox.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.js" integrity="sha512-docBEeq28CCaXCXN7cINkyQs0pRszdQsVBFWUd+pLNlEk3LDlSDDtN7i1H+nTB8tshJPQHS0yu0GW9YGFd/CRg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    -->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
</head>
<body>

<div th:include="header"></div>

<!-- ======= Sidebar ======= -->
<div th:include="sidebar"></div>

<main id="main" class="main">

<!--Modal box-->
    <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel3" style="color: #6200EE">Community Guide lines</h1>
                </div>
                <div class="modal-body">
                    <h5> Please avoid by the following rules to keep our community safe and enjoyable for everyone.</h5>
                    <ol>
                        <li> Keep discussions on topic!</li>
                        <li>No spamming or trolling!</li>
                        <li> Respect other members!</li>
                        <li> Avoid hate speech and harassment!</li>
                    </ol>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="checkBox">
                        <label class="form-check-label" for="checkBox">I have agreed this.</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="agreeBtn" onclick="agree()"  class="btn btn-primary">Agree</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal1 -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">You have to change Default-Password.</h1>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <small id="passwordErrorMessage" style="color:red"></small>
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <small id="confirmPasswordErrorMessage" style="color:red"></small>
                            <input type="password" class="form-control" id="confirmPassword">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="changePasswordBtn" class="btn btn-primary" onclick="changeDefaultPassword()">Change</button>
                </div>
            </div>
        </div>
    </div>

    <!-- skill add-->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel2">Enter Your Professions</h1>
                </div>
                <div class="modal-body">
                    <div class="skill-input-container">
                        <input type="text" id="skill-input" name="skill" placeholder="Enter skill">
                    </div>
                    <div id="skills-container"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="skillAddBtn" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- skill add-->
    <!--End modal-->

    <section class="section dashboard">
        <div class="row">

            <div class="center-flex-container flex-item">
                <div class="home">
                    <h1>Home</h1>
                    <i class="fas fa-magic"></i>
                </div>
                <!--Upload Post Create-->
                <div class="post-tweet">
                    <form id="post-form" th:action="@{/post/create}" method="post" enctype="multipart/form-data">
                        <div class="form-group-1">
                            <img th:src="@{/static/assets/img/profile-img.jpg}" alt="profile-pics">
                            <input type="text" placeholder="What's happening?" name="text">
                        </div>
                        <div class="form-group-2">
                            <div class="post-icons">
                                <label for="image-upload" class="file-icon">
                                    <i class="far fa-image"></i>
                                    <input id="image-upload" type="file" name="images" multiple style="display: none;">
                                </label>
                                <label for="file-upload" class="file-icon">
                                    <i class="far fa-file-image"></i>
                                    <input id="file-upload" type="file" name="files" multiple style="display: none;">
                                </label>
                                <label for="video-upload" class="file-icon">
                                    <i class="fas fa-video"></i>
                                    <input id="video-upload" type="file" name="videos" multiple style="display: none;">
                                    <!--<button id="video" type="button" style="display: none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>-->
                                </label>
                                <i class="far fa-smile"></i>
                                <i class="far fa-calendar-check"></i>
                            </div>
                            <button class="btn" type="submit">Post</button>
                        </div>
                        <p id="video-error" style="color: red; display: none;">Your video is larger than 100MB</p>
                    </form>
                </div>
                <!--End Upload Post-->
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            </div>
                            <div class="body">
                                <div class="wrapper">
                                    <header>Video Uploader</header>
                                    <form id="video-form" th:action="@{/post/create}" method="post" enctype="multipart/form-data">
                                        <input id="video" class="file-input" type="file" name="video" hidden>
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        <p>Browse File to Upload</p>
                                    </form>
                                    <section class="progress-area"></section>
                                    <section class="uploaded-area"></section>
                                </div>
                                <script src="/static/assets/js/fileUploadModelBox.js"></script>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                                <button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>
                </div>


                <!-- User Content Posts -->
                <div class="tweets-container "><!-- Content will be set dynamically --></div>
                <!-- User Content Posts End -->

                <!-- Toast Message -->
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header" style="background-color: black; color: whitesmoke">
                            <strong class="me-auto">Notification</strong>
                            <button  type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            <!-- Content will be set dynamically -->
                        </div>
                    </div>
                </div>
                <!-- Toast Message End -->

            </div>

            <!-- Comment dialong  -->

            <!--End dialog-->

            <!-- Search -->
            <div class="right-flex-container flex-item" style="height: 100%";>

                <form class="search-box" id="search-box">
                    <i class="fas fa-search"></i>
                    <input type="text" id="searchInput" name="searchResult" placeholder="Search Post">
                </form>

                <!--Trends Topic-->
                <div class="trends">
                    <ul id="trends-topic">
                        <li class="nav-list">Topics</li>
                    </ul>
                </div>
                <!--End Topic-->
            </div>
            <!--End Search-->


            <!--Loading-->
            <div id="loadingSpinner" style="display: none;">
                <div class="spinner"></div>
            </div>



        </div>
    </section>
</main>
<div th:include="footer"></div>
</body>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!--<script th:src="@{/static/assets/js/postDisplay.js}"></script>-->
<script th:src="@{/static/assets/js/videoplayer.js}"></script>
<script type="module" src="../static/assets/js/postDisplay.js" defer></script>
<script th:src="@{/static/assets/js/successfulmessage.js}"></script>
<!-- Vendor JS Files -->
<script th:src="@{/static/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/static/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/static/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/static/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{static/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/static/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/static/assets/js/changeDefaultPassword.js}"></script>
<script th:src="@{/static/assets/js/skill.js}"></script>


</html>