<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIR ACE Technology</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link th:href="@{/static/assets/img/download.png}" rel="icon">
    <link th:href="@{/assets/img/download.png}" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/static/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/post.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/all.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .chat-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .message {
            max-width: 60%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 20px;
        }
        .from-me {
            align-self: flex-end;
            background-color: #f44336;
            color: white;
        }
        .from-them {
            align-self: flex-start;
            background-color: #ffffff;
            border: 1px solid #ddd;
        }
        .input-container {
            display: flex;
            padding: 10px;
            background-color: #fff;
        }
        .input-field {
            flex-grow: 1;
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 10px;
            margin-right: 10px;
        }
        .send-button {
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
        }
        #commentDialog{
            width: 400px;

        }
    </style>
</head>
<body>


<div th:include="header"></div>

<!-- ======= Sidebar ======= -->
<div th:include="sidebar"></div>


<main id="main" class="main">

<!--Modal box-->
    <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel3" style="color: #6200EE">Community Guide lines</h1>
                </div>
                <div class="modal-body">
                    <h5> Please avoid by the following rules to keep our community safe and enjoyable for everyone.</h5>
                    <ol>
                        <li> Keep discussions on topic!</li>
                        <li>No spamming or trolling!</li>
                        <li> Respect other members!</li>
                        <li> Avoid hate speech and harassment!</li>
                    </ol>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="checkBox">
                        <label class="form-check-label" for="checkBox">I have agreed this.</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="agreeBtn" onclick="agree()"  class="btn btn-primary">Agree</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal1 -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">You have to change Default-Password.</h1>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <small id="passwordErrorMessage" style="color:red"></small>
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <small id="confirmPasswordErrorMessage" style="color:red"></small>
                            <input type="password" class="form-control" id="confirmPassword">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="changePasswordBtn" class="btn btn-primary" onclick="changeDefaultPassword()">Change</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel2">Choose Your Professions.</h1>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Change</button>
                </div>
            </div>
        </div>
    </div>

    <!--End modal-->
    <section class="section dashboard">
        <div class="row">

            <div class="center-flex-container flex-item">
                <div class="home">
                    <h1>Home</h1>
                    <i class="fas fa-magic"></i>
                </div>

                <div class="post-tweet">
                    <form action="">
                        <div class="form-group-1">
                            <img th:src="@{/static/assets/img/profile-img.jpg}" alt="profile-pics">
                            <input type="text" placeholder="What's happening?">
                        </div>
                        <div class="form-group-2">
                            <div class="post-icons">
                                <i class="far fa-image"></i>
                                <i class="far fa-file-image"></i>
                                <i class="fas fa-video"></i>
                                <i class="far fa-smile"></i>
                                <i class="far fa-calendar-check"></i>
                            </div>
                            <button class="btn" type="submit">Post</button>
                        </div>
                    </form>

                </div>

                <!-- User Content Posts -->
                <div class="tweets-container">

                </div>

            </div>

            <dialog id="commentDialog">
                <div>
                <div class="chat-container" id="chat-container">
                </div>
                <div class="input-container">
                    <input type="text" id="messageInput" class="input-field" placeholder="Type a message here">
                    <button onclick="sendMessage()" class="send-button">Send</button>
                </div>
                    <button id="closeDialogBtn">Close</button>
                </div>
            </dialog>


            <div class="right-flex-container flex-item">
                <div class="search-box">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search Twitter">
                </div>

                <div class="trends">
                    <ul id="trends-topic">

                        <li class="nav-list">Topics</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:include="footer"></div>
</body>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script th:src="@{/static/assets/js/postDisplay.js}"></script>
<!-- Vendor JS Files -->
<script th:src="@{/static/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/static/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/static/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/static/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{static/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/static/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/static/assets/js/main.js}"></script>
<script th:src="@{/static/assets/js/changeDefaultPassword.js}"></script>


</html>