<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>DIR ACE Technology</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/static/assets/img/download.png}" rel="icon">
    <link th:href="@{/assets/img/download.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/static/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/static/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<div th:include="header"></div>

<!-- ======= Sidebar ======= -->
<div th:include="sidebar"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

<!--    <section class="section dashboard">-->
<!--        <div class="row">-->

<!--            &lt;!&ndash; Left side columns &ndash;&gt;-->
<!--            <div class="col-lg-8">-->
<!--                <div class="row">-->


<!--                    <div class="col-xxl-4 col-xl-12">-->

<!--                        <div class="card info-card customers-card">-->

<!--                            <div class="filter">-->
<!--                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                                    <li class="dropdown-header text-start">-->
<!--                                        <h6>Filter</h6>-->
<!--                                    </li>-->

<!--                                    <li><a class="dropdown-item" href="#">Today</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">This Month</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">This Year</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->

<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Customers <span>| This Year</span></h5>-->

<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">-->
<!--                                        <i class="bi bi-people"></i>-->
<!--                                    </div>-->
<!--                                    <div class="ps-3">-->
<!--                                        <h6>1244</h6>-->
<!--                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>-->

<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-12">-->
<!--                        <div class="card">-->

<!--                            <div class="filter">-->
<!--                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                                    <li class="dropdown-header text-start">-->
<!--                                        <h6>Filter</h6>-->
<!--                                    </li>-->

<!--                                    <li><a class="dropdown-item" href="#">Today</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">This Month</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">This Year</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->

<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Reports <span>/Today</span></h5>-->

<!--                                &lt;!&ndash; Line Chart &ndash;&gt;-->
<!--                                <div id="reportsChart"></div>-->

<!--                                <script>-->
<!--                                    document.addEventListener("DOMContentLoaded", () => {-->
<!--                                        new ApexCharts(document.querySelector("#reportsChart"), {-->
<!--                                            series: [{-->
<!--                                                name: 'Sales',-->
<!--                                                data: [31, 40, 28, 51, 42, 82, 56],-->
<!--                                            }, {-->
<!--                                                name: 'Revenue',-->
<!--                                                data: [11, 32, 45, 32, 34, 52, 41]-->
<!--                                            }, {-->
<!--                                                name: 'Customers',-->
<!--                                                data: [15, 11, 32, 18, 9, 24, 11]-->
<!--                                            }],-->
<!--                                            chart: {-->
<!--                                                height: 350,-->
<!--                                                type: 'area',-->
<!--                                                toolbar: {-->
<!--                                                    show: false-->
<!--                                                },-->
<!--                                            },-->
<!--                                            markers: {-->
<!--                                                size: 4-->
<!--                                            },-->
<!--                                            colors: ['#4154f1', '#2eca6a', '#ff771d'],-->
<!--                                            fill: {-->
<!--                                                type: "gradient",-->
<!--                                                gradient: {-->
<!--                                                    shadeIntensity: 1,-->
<!--                                                    opacityFrom: 0.3,-->
<!--                                                    opacityTo: 0.4,-->
<!--                                                    stops: [0, 90, 100]-->
<!--                                                }-->
<!--                                            },-->
<!--                                            dataLabels: {-->
<!--                                                enabled: false-->
<!--                                            },-->
<!--                                            stroke: {-->
<!--                                                curve: 'smooth',-->
<!--                                                width: 2-->
<!--                                            },-->
<!--                                            xaxis: {-->
<!--                                                type: 'datetime',-->
<!--                                                categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]-->
<!--                                            },-->
<!--                                            tooltip: {-->
<!--                                                x: {-->
<!--                                                    format: 'dd/MM/yy HH:mm'-->
<!--                                                },-->
<!--                                            }-->
<!--                                        }).render();-->
<!--                                    });-->
<!--                                </script>-->
<!--                                &lt;!&ndash; End Line Chart &ndash;&gt;-->

<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <div class="post-tweet">
        <form action="">
            <div class="form-group-1">
                <img th:src="@{/static/assets/img/profile-img.jpg}" alt="profile-pics">
                <input type="text" placeholder="What's happening?">
            </div>
            <div class="form-group-2">
                <div class="post-icons">
                    <i class="far fa-image"></i>
                    <i class="far fa-file-image"></i>
                    <i class="fas fa-video"></i>
                    <i class="far fa-smile"></i>
                    <i class="far fa-calendar-check"></i>
                </div>
                <button class="btn" type="submit">Post</button>
            </div>
        </form>

    </div>
    <!-- User Content -->
    <div class="tweets">
        <div class="user-pics"><img th:src="@{/static/assets/img/user3.jpg}" alt="user3"></div>
        <div class="user-content-box">
            <div class="user-names">
                <hi class="full-name">Olivia Brent</hi>
                <p class="user-name">@iamolivia</p>
                <p class="time"> . 58mins</p>
            </div>

            <div class="user-content">
                <p>We've gotta send kids back to school so one day they can be doctors and scientists, and everyone can ignore them.</p>
            </div>

            <div class="content-icons">
                <i class="far fa-comment blue"> 109</i>
                <!--                                    <i class="fas fa-share green">215</i>-->
                <i class="far fa-heart red">1.6k</i>
                <i class="fas fa-chevron-up blue"></i>
            </div>

        </div>
    </div>
    <div class="tweets">
        <div class="user-pics"><img th:src="@{/static/assets/img/user2.jpg}" alt="user2"></div>
        <div class="user-content-box">
            <div class="user-names">
                <hi class="full-name">Carole Chavez</hi>
                <p class="user-name">@carolechavez</p>
                <p class="time"> . 1hr</p>
            </div>

            <div class="user-content">
                <p>If the whole world was blind, how many people would you impress?
                    <a href="#">#100daysofcode</a> <a href="#">#javascript</a> <a href="#">#womenwhocode</a></p>
            </div>

            <div class="content-icons">
                <i class="far fa-comment blue"> 2k</i>
                <!--                                    <i class="fas fa-share green">215</i>-->
                <i class="far fa-heart red"> 10k</i>
                <i class="fas fa-chevron-up blue"></i>
            </div>

        </div>
    </div>

    <div class="tweets">
        <div class="user-pics"><img th:src="@{/static/assets/img/user1.jpg}" alt="user1"></div>
        <div class="user-content-box">
            <div class="user-names">
                <hi class="full-name">Eric Alvarez</hi>
                <p class="user-name">@eric_alvarez</p>
                <p class="time"> . 2hrs</p>
            </div>

            <div class="user-content">
                <p>Eat. Code, Sleep. repeat! <a href="#">#CodeNewbie</a> <a href="#">#100DaysOfCode</a></p>
                <img th:src="@{/static/assets/img/content1.jpg}" alt="content1">
            </div>

            <div class="content-icons">
                <i class="far fa-comment blue"> 273</i>
                <!--                                    <i class="fas fa-share green">215</i>-->
                <i class="far fa-heart red"> 3k</i>
                <i class="fas fa-chevron-up blue"></i>
            </div>

        </div>
    </div>

    <div class="tweets">
        <div class="user-pics"><img th:src="@{/static/assets/img/user4.jpg}" alt="user4"></div>
        <div class="user-content-box">
            <div class="user-names">
                <hi class="full-name">Harry Wilson</hi>
                <p class="user-name">@Harrywilson</p>
                <p class="time"> . 4hrs</p>
            </div>

            <div class="user-content">
                <p>There's no clear correlation between your background and what you are going to achieve in life..</p>
            </div>

            <div class="content-icons">
                <i class="far fa-comment blue"> 4k</i>
                <!--                                    <i class="fas fa-share green">215</i>-->
                <i class="far fa-heart red">13k</i>
                <i class="fas fa-chevron-up blue"></i>
            </div>

        </div>
    </div>

    <section class="follow-users-box">

        <div class="follow-header">
            <h1 class="main-text">Who to follow</h1>
            <i class="fas fa-chevron-down"></i>
        </div>

        <div class="follow-user">
            <div class="related-followers">
                <p class="sub-text"><i class="fas fa-user"></i> Ellie Jamie and 20 others follow</p>
            </div>

            <div class="user-profile">
                <div class="user-pics"><img th:src="@{/static/assets/img/user6.jpg}" alt="user6">
                </div>

                <div class="user-profile-content">
                    <div class="title-container">
                        <div class="user-names">
                            <div class="full-name"><h1 class="main-text">Linda Shelton #BlackLivesMatter</h1></div>
                            <div class="user-name"><p class="sub-text">@Linda_shelton</p></div>
                        </div>

                        <div class="follow-btn"><a href="#">follow</a></div>

                    </div>
                    <div class="bio-container">
                        <p><a href="#">♯WordPress/Php</a> Geek Smiling face with sunglasses <a href="#">♯JavascriptDeveloper</a> Slightly smiling face <a href="#">♯ToolsCreator</a> <a href="#">♯http://webscreenshot.now.sh</a> Always ready to help with code Handshake</p>
                    </div>

                </div>

            </div>

        </div>

        <div class="follow-user">
            <div class="related-followers">
                <p class="sub-text"><i class="fas fa-user"></i> JavaScript Ninja and 200 others follow</p>
            </div>

            <div class="user-profile">
                <div class="user-pics"><img th:src="@{/static/assets/img/user7.jpg}" alt="user7">
                </div>

                <div class="user-profile-content">
                    <div class="title-container">
                        <div class="user-names">
                            <div class="full-name"><h1 class="main-text">Gavin Johnson #JavaScript</h1></div>
                            <div class="user-name"><p class="sub-text">@Gavinjohnson</p></div>
                        </div>

                        <div class="follow-btn"><a href="#">follow</a></div>

                    </div>
                    <div class="bio-container">
                        <a href="#">♯JavascriptDeveloper</a> Avocado | Fire Speaker | Fire Teacher | Youtube - <a href="#">http://bit.ly/jqqyt</a> |<a href="#"> @twilio</a> Champion | Motto: <a href="#">#LearnBuildTeach</a></p>
                    </div>

                </div>

            </div>

        </div>

        <div class="follow-user">
            <div class="related-followers">
                <p class="sub-text"><i class="fas fa-user"></i> The Code Boy and 50 others follow</p>
            </div>

            <div class="user-profile">
                <div class="user-pics"><img th:src="@{/static/assets/img/user8.jpg}" alt="user8">
                </div>

                <div class="user-profile-content">
                    <div class="title-container">
                        <div class="user-names">
                            <div class="full-name"><h1 class="main-text">William D Gallucci</h1></div>
                            <div class="user-name"><p class="sub-text">@Iamwilliamd_shelton</p></div>
                        </div>

                        <div class="follow-btn"><a href="#">follow</a></div>

                    </div>
                    <div class="bio-container">
                        <p>software engineer at
                            <a href="#">@soonastudios</a>
                            . career switcher. vue + rails. tweeting about tech, books, startups, and big ideas. writing @ <a href="#">http://jamestucker.dev.</a></p>
                    </div>

                </div>

            </div>

        </div>

        <div class="follow-footer">
            <a href="#">Show more</a>
        </div>

    </section>

    <div class="tweets">
        <div class="user-pics"><img th:src="@{/static/assets/img/user5.jpg}" alt="user5"></div>
        <div class="user-content-box">
            <div class="user-names">
                <hi class="full-name">Nora Chao</hi>
                <p class="user-name">@chaonora</p>
                <p class="time"> . 6hrs</p>
            </div>

            <div class="user-content">
                <p>Time to settle down and play my favourite game IN THE WORLD Earth globe europe-africa</p>

                <p>  Haven’t played for about a month, too busy coding.
                    So tired this evening though.
                    Poker tournament with husband later..</p>
                <img th:src="@{/static/assets/img/content5.jpg}" alt="content5">
            </div>

            <div class="content-icons">
                <i class="far fa-comment blue"> 78</i>
                <!--                                    <i class="fas fa-share green">215</i>-->
                <i class="far fa-heart red"> 934</i>
                <i class="fas fa-chevron-up blue"></i>
            </div>

        </div>
    </div>

    <div class="pagnation">
        <a href="#">Load more</a>
    </div>

    </div>



</main>
<div th:include="footer"></div>

</body>
<!-- ======= Footer ======= -->
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/static/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/static/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/static/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/static/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{static/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/static/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/static/assets/js/main.js}"></script>

</body>

</html>