.comment-section {
    margin: auto;
    background: #fff;
    padding: 15px;
    /* border: 1px solid #ddd;
    border-radius: 4px; */
}
.comment {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    position: relative;
}
.comment:last-child {
    border-bottom: none;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;

}
img{
    object-fit: cover;
}
.comment-content {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 60px);
    padding: 10px;
    border-radius: 10px;
    background-color: #EFEBE9;
}
.comment-author {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-right: 10px;
}
.comment-author:hover{
    color: #FF8A65;
}
.comment-text {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #4C75A3;
}
.comment-text:hover{
    color: #333;
}
.comment-metadata {
    font-size: 0.8em;
    color: #757575;
    margin-top: 1px;
}
.comment-interactions {
    font-size: 0.9em;
    color: #333;
    margin-top: 5px;
}
.comment-interactions span {
    margin-right: 15px;
    cursor: pointer;
}
.user-content{
    display: flex;
    justify-content: flex-start;

}
.comment .comment {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #fff;
}

.comment .comment:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #B0BEC5;
}
#messageInputs{
    border: none;
    border-bottom: 1px solid #dadce0;
}
#messageInputs:focus {
    outline: none; /* Remove outline */
}

