.drop-container {
    width: auto;
    height: 150px;
    border: 3px dashed #838181;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 600px;
    /* height: 350px; */
    margin-left: 30px;
}
.imageCreate {
    max-width: 600px;
    height: 350px;
    object-fit: cover;
}
#carousalWrapper{
    width: auto;
}
.drop-container p {
    margin: 0;
    font-size: 16px;
    color: #666;
    text-align: center;
}

.drop-container.drag-over {
    background-color: #f0f0f0;
}
.file-input-container {
    display: flex;
    align-items: center;
}

.file-input-label {
    display: flex;
    align-items: center;
}

.file-input-label input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.fa-cloud-arrow-up {

    text-align: center;
}
.iconContainer{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(160, 158, 157, 0.366);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(160, 158, 157, 0.821);
    border-radius: 50%;
}
.carousel.slide {
    position: relative;
}

.objectContainer {
    margin-top: 10px;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    width: 100%;
}

#objectAdd, #objectDelete {
    background-color: rgba(160, 158, 157, 0.821);
    padding: 4px 10px;
    border-radius: 13px;
    color: white;
    cursor: pointer;
}

#objectAdd {
    margin-left: 4px;
}

#objectDelete {
    margin-right: 4px;
}
.gifModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(194, 160, 160);
    background-color: rgba(0, 0, 0, 0.4);
}

.gifModal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 500px;
}

.gifModal .close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.gifModal .close:hover,
.gifModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#gifResults img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
}
#gifSearch{
    width: 180px;
    height: 25px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    outline: none;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}
#gifSearch:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border: 1px solid rgba(0, 123, 255, 0.5);
    background-color: #f1f1f1;
}
#gifButton{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: #1B9CFC;
    color: #f3f3f0;
    font-size: 0.9rem;
    border: none;
    margin-bottom: 5px;
}
#gifButton:hover{
    background-color: #0073ff;
    color: #f8f8f8;
}
.remove-btn{
    border-left: 1px solid;
    padding-left: 2px;
}
.mentionContainer{
    justify-content: space-evenly;
    margin-left: 3px;
    background-color: #a9b0b8;
    max-width: 130px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

