#updateModal .drop-container {
    width: auto;
    height: 150px;
    border: 3px dashed #838181;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#updateModal .carousel{
    width: 600px;
    /* height: 350px; */
    margin-left: 30px;
}
#updateModal .imageCreate {
    max-width: 600px;
    height: 350px;
    object-fit: cover;
}
#updateModal #carousalWrapper{
    width: auto;
}
#updateModal .drop-container p {
    margin: 0;
    font-size: 16px;
    color: #666;
    text-align: center;
}

#updateModal .drop-container.drag-over {
    background-color: #f0f0f0;
}
#updateModal .file-input-container {
    display: flex;
    align-items: center;
}

#updateModal .file-input-label {
    display: flex;
    align-items: center;
}

#updateModal .file-input-label input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#updateModal .fa-cloud-arrow-up {

    text-align: center;
}
#updateModal .iconContainer{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(160, 158, 157, 0.366);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

#updateModal .carousel-control-prev-icon,
#updateModal .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(160, 158, 157, 0.821);
    border-radius: 50%;
}
#updateModal .carousel.slide {
    position: relative;
}

#updateModal .objectContainer {
    margin-top: 10px;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    width: 100%;
}

#updateModal #objectAdd, #updateModal #objectDelete {
    background-color: rgba(160, 158, 157, 0.821);
    padding: 4px 10px;
    border-radius: 13px;
    color: white;
    cursor: pointer;
}

#updateModal #objectAdd {
    margin-left: 4px;
}

#updateModal #objectDelete {
    margin-right: 4px;
}
