.topContent{
    display: flex;
    justify-content: space-between;
}

.notification-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
}

.avatar {
    background-color: #C4C4C4;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.avatar img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.content {
    flex: 1;
}

p {
    margin: 0;
}
.btnn {
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
}

.read {
    background-color: #5262F3;
    color: white;
}
.unread {
    background-color: #d3657f;
    color: #f3e2e2;
}

.commentt {
    padding-top: 5px;
    background-color: #C5E0C6;
    color: #777;
    border-radius: 50px;
    font-size: 11px;
}

.timestamp {
    margin-top: 5px;
    color: #777;
    font-size: 0.90rem;
}
.box{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.like{
    background-color: #A1F3F3;
    color: #777;
    border-radius: 50px;
    padding-top: 4px;
    font-size: 11px;
}
.mentionNoti{
    background-color: #19a5da;
    color: #f3eeee;
    border-radius: 50px;
    padding-top: 4px;
    font-size: 11px;
}
.seeMoreBtn{
    font-size: 15px;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 4px 10px;
    margin-left: 160px;
}
.removeNotiButton{
    line-height: 10px;
    font-size: 12px;
    border-radius: 8px;
    color: #e9e3e3;
    background-color: #dd3a66;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-right: 7px;
    font-weight: 500;
}